projeto/componentes/internos/php/cabecalho.inc.php
projeto/componentes/internos/php/conexao.inc.php

projeto_css1/componentes/internos/php/cabecalho.inc.php
projeto_css1/componentes/internos/php/conexao.inc.php
