
.navbar-brand- {
  padding-left: 33%;/*para centralizar o nome do sistema em complemento ao bootstrap.css*/
  font-size: 20px;
}
.perfil- {
	font-size: 11px;
	text-align:left;
	font-weight:normal;
}
.cciex- {
	color:#FFFFFF;
	background: #660000;
	background: -moz-linear-gradient(top, #660000, #944D4D);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#660000), to(#944D4D));
}

.icfex- {
	color:#FFFFFF;
	background: #16355a;
	background: -moz-linear-gradient(top, #16355a, #3e6aa6);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#16355a), to(#3e6aa6));
}

.ug- {
	color:#FFFFFF;
	background: #80664D;
	background: -moz-linear-gradient(top, #80664D, #937e6a);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#80664D), to(#937e6a));
}

.visitante- {
	color:#fff;
	background: #003300;
	background: -moz-linear-gradient(top, #003300, #5A6B5A);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#003300), to(#5A6B5A));
}

.sidebar .nav-fourth-level li { /* quarto nível do menu lateral em complemento ao sb-admin-2.css*/
  border-bottom: none !important;
}

.sidebar- .nav-fourth-level- li a {
  padding-left: 67px; /* quarto nível do menu lateral em complemento ao sb-admin-2.css*/
}

.form-login {
	background: url(../img/header-mask.png) repeat top left;
}
#rodape {
	height: auto;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	background: #003300;
	background: -moz-linear-gradient(top, #003300, #5A6B5A);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#003300), to(#5A6B5A));
	background-repeat: repeat-x;
	margin-top: 30px;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #CCC;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	color: #FFF;
	text-align:center;
	vertical-align:middle;
}
.barra-top{
	text-align:center;
	font-size:18px;
	color:#ffffff;
	border-bottom: 0px solid #ffffff;
	padding-bottom:9px;
	text-shadow: 2px 2px 2px #000;
}
.has-error .help-block{
	background-color:#ffffff;
}
/*inicio modal */
/*cor de fundo*/
.fundo{
	background-color:#337ab7;
	color:#ffffff;
}
/* redimensionar janela modal */
.modal.modal-wide .modal-dialog {
  width: 65%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
/* fim modal*/
/* validacao editor texto*/
.textnothide {
    display: block !important;
    position: absolute;
    z-index: -1;
}
/*fim validacao editor texto*/
